<!DOCTYPE html>
<html>
    <head>
        <title>Kestrel | Карта</title>
        {% csrf_token %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script>const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;</script>
        <script src="https://api-maps.yandex.ru/2.1/?apikey={{ secret }}&lang=ru_RU" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'drag.js' %}" type="text/javascript"></script>
        <script src="{% static 'index.js' %}" type="text/javascript"></script>
    </head>
    <body>
        <h1 class="title">- Интересные места ВДНХ -</h1>
        <div class="app">
            <div id="map"></div>
            <div class="menu">
                <div class="routes">
                    {% for route in routes %}
                    <form class="route" draggable="true" method="post">
                        <p class="point-name">{{ route.name }}<br>
                            Длительность: {{ route.time }} с<br>
                            Протяжённость: {{ route.dist }} м
                        </p>
                        <input type="hidden" value="{{ route.pos }}"/>
                        <input class="point-remove" type="submit" value="Удалить"/>
                    </form>
                    {% endfor %}
                </div>
                <div class="points">
                    {% for point in points %}
                    <form class="point" draggable="true" method="post">
                        <p class="point-name">{{ point.name }}</p>
                        <input type="hidden" value="{{ point.pos }}"/>
                        <input class="point-remove" type="submit" value="Удалить"/>
                    </form>
                    {% endfor %}
                </div>
                <div class="buttons">
                    <input class="href" type="button" onclick="window.location.href='/route/'" value="Построить маршрут"/>
                </div>
            </div>
        </div>
    </body>
</html>