<!DOCTYPE html>
<html>
    <head>
        <title>Octant | Маршрут</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script>var pointIds = Array('{{ pointIdArray }}')</script>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ octantApiKey }}" type="text/javascript"></script>
        <script src="{% static 'index.js' %}" type="text/javascript"></script>
    </head>
<body>
    <div id="routeMap"></div>
</body>
</html>