/* Containers and outer elements */

body {
    background-color: #1b1b1b;
}

.title {
    color: #e5e4e2;
    font-family: 'Courier New';
    font-weight: bold;
    text-align: center;
}

.app {
    display: flex;
}

#map {
    border: 2px solid #e5e4e2;
    background: #1b1b1b;
    width: 800px;
    height: 800px;
    margin: 10px 40px;
    margin-right: 20px;
}

.menu {
    flex: 1 1 auto;
    margin: 10px 40px;
    margin-left: 20px;
    float: right;
}

.points, .routes, #info, .buttons {
    height: min-content;
    margin-bottom: 40px;
    border: 2px solid #e5e4e2;
    padding-top: 10px;
    padding-right: 10px;
}

.buttons, .point, .route {
    display: flex;
}

/* Inner elements */

.point-name, .point-remove, .href, .save {
    border: none;
    background-color: #353839;
    font-family: 'Courier New';
    font-size: 20px;
    color: #e5e4e2;
    cursor: move;
    float: right;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 0px;
    margin-right: 0px;
}

.point-remove, .href, .save {
    cursor: pointer;
}

.point-name, .save, .href {
    flex: 1 1 auto;
}

/* Behaviors */

.over {
    border: 2px dotted #e5e4e2;
}

.point-name:hover, .point-remove:hover, .href:hover, .save:hover {
    background-color: #414a4c;
}
