.title {
    text-align: center;
}

.app {
    display: flex;
    padding: 10px 10px;
}

#map {
    border: 2px solid black;
    background: silver;
    width: 800px;
    height: 800px;
    margin: 0px 60px;
}

.menu {
    flex: 1 1 auto;
    margin-right: 60px;
    float: right;
}

.points {
    padding: 5px 0px;
    height: min-content;
    border: 3px solid black;
    background: silver;
}

.point {
    border: 3px solid black;
    margin: 10px 25px;
    display: flex;
}

.over {
    border: 3px dotted black;
}

.point-name {
    background-color: white;
    font-family: Arial;
    font-size: 18px;
    cursor: move;
    padding: 10px;
    margin: 0px;
    flex: 1 1 auto;
    width: 75%;
}

.point-name:hover {
    background-color: gainsboro;
}

.point-remove {
    border: none;
    border-left: 3px solid black;
    background-color: white;
    font-family: Arial;
    font-size: 18px;
    float: right;
    padding: 10px;
    margin: 0px;
}

.point-remove:hover {
    background-color: gainsboro;
}

.href {
    border: 3px solid black;
    background-color: white;
    margin: 10px 0px;
    font-family: Arial;
    font-size: 18px;
    padding: 10px;
    margin: 20px 0px;
}
.href:hover {
    background-color: gainsboro;
}
